section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    gap: 20px;

}

div {
    width: 30%;
    box-sizing: border-box;
    border: 1px solid #666;
    padding: 10px;
    text-align: center;
    min-height: 120px;
}

div img {
    width: 64px;
}